h2{
    color: white;
    text-align: center;
    background-color: rgb(146, 188, 188);
  border: 3px solid rgb(207, 252, 255);
  font-family: Courier;
}
form{
    text-align: center;
    font-size: 20px;

}
body {
    font-family:Garamond;
    color: azure;
    background-color: rgb(146, 179, 191);
    flex-direction: column;
    text-decoration: none;
  }
  input{
    background-color: #9cc9d1; 
  color: white;
  padding: 5px;
  border: 1px solid black; 
  border-radius: 3px;
  width:280px;
  opacity: 0.8;
  }
  #cadas{
    display: grid;
    font-size: xx-large;
background-color: rgb(124, 159, 190);


  }
  #cadas  a{
    background-color: rgb(165, 179, 190);
    text-decoration: none;
    border-radius: 20%;
  }
